{% extends "accounts/base.html" %}
{% block title %}Identité{% endblock %}
{% block content %}
<h1>Identité</h1>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<p><strong>Nom : </strong>{{ name }}</p>
<p><strong>Email : </strong>{{ email }}</p>
<p>
  <strong>Associations :</strong>
  <ul>
  {% for org in orgs %}
  <li>
    {{ org.name }}
    {% if org.is_owner %} | <a href="/org/{{ org.uid }}">gérer</a>{% endif %}
  </li>
  {% endfor %}
  </ul>
</p>
<p>
  <strong>Groupes :</strong>
  <ul>
    {% for group in groups %}
    <li>
    {{ group.name }}
    </li>
    {% endfor %}
  </ul>
</p>
{% endblock %}
