{% extends "accounts/base.html" %}
{% block title %}Identité{% endblock %}
{% block content %}
<h1>Accueil</h1>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<h2>Identité</h2>
<p><a href="/edit">modifier</a></p>
<p class="user_data"><strong>Nom : </strong>{{ name }}</p>
<p class="user_data"><strong>Pseudo : </strong>{{ nick }}</p>
<p class="user_data"><strong>Email : </strong>{{ email }}</p>
<h2>Associations</h2>
<ul>
  {% for org in orgs %}
  <li>
    {{ org.name }}
    | <a href="/org/{{ org.uid }}">{% if org.is_owner %}gérer{% else %}voir{% endif %}</a>
  </li>
  {% endfor %}
</ul>
<h2>Groupes</h2>
<ul>
  {% for group in groups %}
  <li>
    {{ group.name }}
  </li>
  {% endfor %}
</ul>
{% endblock %}
