{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'main/css/style.css' %}" rel="stylesheet" media="screen" />
  </head>
  <body>
    <div id="all">
      <header>
        <img id="logo" src="{% static 'main/img/logo.png' %}" alt="Logo Federez"/>
        <p>web<span id="hl">ldap</span></p>
      </header>
      <nav>
        {% if logged_in %}
        <a href="/logout"><strong>déconnexion</strong> ({{ logged_uid }})</a> |
        {% endif %}
        <a href="/">accueil</a> |
        {% if is_admin %}
        <a href="/admin">admin</a> |
        {% endif %}
        <a href="/help">aide</a>
      </nav>
      <div id="content">
        {% if messages %}
        <div id="messages">
          {% for message in messages %}
          <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
          {% endfor %}
        </div>
        {% endif %}
        {% block content %}{% endblock %}
      </div>
      {% block footer %}
      <footer>
        <small>
          Pour tout problème, contacter l'<a href="mailto:admin@federez.net">équipe
          technique &lt;admin@federez.net&gt;</a>
        </small>
      </footer>
      {% endblock %}
    </div>
  </body>
</html>
