{% extends "main/base.html" %}
{% block title %}Aide{% endblock %}
{% block content %}
<h1>Aide</h1>
<p>
webldap est l'application de gestion des comptes LDAP FedeRez.
</p>
<h2>Utilisateurs</h2>
<p>
  Les utilisateurs sont les membres de FedeRez. Si vous n'avez pas de compte,
  vous pouvez en demander un au gérant webldap de votre association.
</p>
<p>
  Chaque association a un ou plusieurs gérants. Ceux-ci peuvent créer des comptes
  aux membres de leur association.
</p>
<h2>Associations</h2>
<p>
  Les associations sont membres de FedeRez. Si la vôtre n'est pas enregistrée,
  contactez les administrateurs.
</p>
<h2>À propos</h2>
<p>
  Les sources de l'application sont publiques :
  <a href="https://github.com/FedeRez/webldap">dépôt Github</a>.
</p>
{% endblock %}
