{% extends "main/base.html" %}

{% block title %}Association : {{ name }}{% endblock %}

{% block content %}

<h1>Association : {{ name }}</h1>
{% if is_owner or is_admin %}<a href="add">ajouter un membre</a>{% endif %}
{% if members %}
<ul>
{% for member in members %}
<li>
  {{ member.name }}
  {% if is_owner or is_admin %}
  {% if member.owner %}
  | <a href="/org/{{ uid }}/relegate/{{ member.uid }}/"><strong>rétrograder</strong></a>
  {% else %}
  | <a href="/org/{{ uid }}/promote/{{ member.uid }}/">promouvoir</a>
  {% endif %}
  {% else %}
  {% if member.owner %}
  (gérant)
  {% endif %}
  {% endif %}
  {% if is_admin %}
  {% if member.is_ssh %}
  |
  <a class="admin-disable-action" href="/org/{{ uid }}/disable_ssh/{{ member.uid }}/">
    désactiver ssh
  </a>
  {% else %}
  |
  <a class="admin-enable-action" href="/org/{{ uid }}/enable_ssh/{{ member.uid }}/">
    activer ssh
  </a>
  {% endif %}
  {% if member.is_admin %}
  |
  <a class="admin-disable-action" href="/org/{{ uid }}/disable_admin/{{ member.uid }}/">
    désactiver admin
  </a>
  {% else %}
  |
  <a class="admin-enable-action" href="/org/{{ uid }}/enable_admin/{{ member.uid }}/">
    activer admin
  </a>
  {% endif %}
  {% endif %}
</li>
{% endfor %}
</ul>
{% else %}
<p>Aucun membre.</p>
{% endif %}

<a href="/">retour</a>

{% endblock %}
